$background_color: rgba(82, 98, 108, 0.8);
$heading_color: #F2F1F1;
$text_color: #333333;
$dark_grey: #eee;
$light_grey: #f9f9f9;
$dark_green: #77A756;
$light_green: #99BE7F;

$font: 'Mali', cursive;

$padding: 15px 20px;
